.first-section {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

#content {
    height: 100%;
    position: relative;
    min-height: 400px;
    margin-bottom: 4rem;
    /* magic sauce II */
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    /* magic sauce */
}

.overlay {
    position: absolute;
    top: 50%;
    right: 50%;
}