<main class="main">
	<molla-page-header title="Blog" subtitle="Little Gosford Farm"></molla-page-header>

	<nav class="breadcrumb-nav mb-3">
		<div class="container">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a routerLink="/">Home</a>
				</li>
				<li class="breadcrumb-item">
					<a routerLink="/blog/all">Blogs</a>
				</li>
				<li class="breadcrumb-item active">Blog Post</li>
			</ol>
		</div>
	</nav>

	<div class="page-content">
		<div class="container">
			<div class="row" style="display: block;">
				<div>
					<div *ngIf="!loaded else loadedBlock">
						<div class="skel-single-post"></div>
					</div>
					<ng-template #loadedBlock>
						<article class="entry single-entry">
							<figure class="entry-media" *ngIf="post.image.length <= 1 else carouselBlock"
								[class.entry-video]="post.type == 'video'" [style.padding-top]="paddingTop">
								<a href="javascript:;" *ngIf="post.type !== 'video' else videoBlock">
									<molla-image [src]="post.image.url" alt="image desc"
										[fixedPt]="paddingTop"></molla-image>
								</a>

								<ng-template #videoBlock>
									<a href="javascript:;">
										<molla-image [src]="SERVER_URL + post.image.url" alt="image desc"
											[fixedPt]="paddingTop"></molla-image>
									</a>
								</ng-template>
							</figure>

							<ng-template #carouselBlock>
								<img [src]="post.image.url" alt="">
	
							</ng-template>

							<div class="entry-body" style="margin-top: 5px;">
								<div class="entry-meta">
									<span class="entry-author">
										by <a href="javascript:;">{{ post.author }}</a>
									</span>
									<span class="meta-separator">|</span>
									<a href="javascript:;">{{ post.date | date }}</a>
									<span class="meta-separator">|</span>
								</div>

								<h2 class="entry-title">
									{{ post.title }}
								</h2>
							
								<div class="entry-content editor-content">
									<p style="font-size: 2rem;">{{ post.content }}</p>
								</div>


								<div class="entry-footer row no-gutters flex-column flex-md-row">
									<div class="col-md">
									</div>

									<div class="col-md-auto mt-2 mt-md-0">
										<div class="social-icons social-icons-color">
											<span class="social-label">Share this post:</span>
											<a href="javascript:;" class="social-icon social-facebook"
												title="Facebook"><i shareButton="facebook" class="icon-facebook-f"></i></a>
											<a href="javascript:;" class="social-icon social-twitter" title="Twitter"><i shareButton="twitter"
													class="icon-twitter"></i></a>
										</div>
									</div>
								</div>
							</div>

							<!-- <div class="entry-author-details"> -->


								<!-- <div class="author-body">
									<div class="author-header row no-gutters flex-column flex-md-row">
										<div class="col">
											<h4><a href="javascript:;">John Brown</a></h4>
										</div>
									</div>

									<div class="author-content">
										<p> </p>
									</div>
								</div> -->
							<!-- </div> -->
						</article>
					</ng-template>

					<nav class="pager-nav" aria-label="Page navigation" *ngIf="post && (prevPost || nextPost)">
						<a [routerLink]="['../' + prevPost.slug]" class="pager-link pager-link-prev"
							*ngIf="prevPost else prevBlock">
							Previous Post
							<span class="pager-link-title">{{ prevPost.title }}</span>
						</a>
						<ng-template #prevBlock>
							<a [routerLink]="['../' + post.slug]" class="pager-link">
								<span class="page-link-title ml-4">This is the first blog.</span>
							</a>
						</ng-template>
						<a [routerLink]="['../' + nextPost.slug]" class="pager-link pager-link-next"
							*ngIf="nextPost else nextBlock">
							Next Post
							<span class="pager-link-title mt-0">{{ nextPost.title }}</span>
						</a>
						<ng-template #nextBlock>
							<a [routerLink]="['../' + post.slug]" class="pager-link">
								<span class="page-link-title ml-auto mr-4">This is the last blog.</span>
							</a>
						</ng-template>
					</nav>


					<!-- <div class="comments">
						<h3 class="title">3 Comments</h3>

						<ul>
							<li>
								<div class="comment">
									<figure class="comment-media">
										<a href="javascript:;">
											<img src="assets/images/blog/comments/1.jpg" alt="User name">
										</a>
									</figure>

									<div class="comment-body">
										<a href="javascript:;" class="comment-reply">Reply</a>
										<div class="comment-user">
											<h4><a href="javascript:;">Jimmy Pearson</a></h4>
											<span class="comment-date">November 9, 2018 at 2:19 pm</span>
										</div>

										<div class="comment-content">
											<p>Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales
												leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo.
												Suspendisse potenti. </p>
										</div>
									</div>
								</div>

								<ul>
									<li>
										<div class="comment">
											<figure class="comment-media">
												<a href="javascript:;">
													<img src="assets/images/blog/comments/2.jpg" alt="User name">
												</a>
											</figure>

											<div class="comment-body">
												<a href="javascript:;" class="comment-reply">Reply</a>
												<div class="comment-user">
													<h4><a href="javascript:;">Lena Knight</a></h4>
													<span class="comment-date">November 9, 2018 at 2:19 pm</span>
												</div>

												<div class="comment-content">
													<p>Morbi interdum mollis sapien. Sed ac risus.</p>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</li>

							<li>
								<div class="comment">
									<figure class="comment-media">
										<a href="javascript:;">
											<img src="assets/images/blog/comments/3.jpg" alt="User name">
										</a>
									</figure>

									<div class="comment-body">
										<a href="javascript:;" class="comment-reply">Reply</a>
										<div class="comment-user">
											<h4><a href="javascript:;">Johnathan Castillo</a></h4>
											<span class="comment-date">November 9, 2018 at 2:19 pm</span>
										</div>

										<div class="comment-content">
											<p>Vestibulum volutpat, lacus a ultrices sagittis, mi neque euismod dui, eu
												pulvinar nunc sapien ornare nisl. Phasellus pede arcu, dapibus eu,
												fermentum et, dapibus sed, urna.</p>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>

					<div class="reply">
						<div class="heading">
							<h3 class="title">Leave A Reply</h3>
							<p class="title-desc">Your email address will not be published. Required fields are marked *
							</p>
						</div>

						<form action="#">
							<label for="reply-message" class="sr-only">Comment</label>
							<textarea name="reply-message" id="reply-message" cols="30" rows="4" class="form-control"
								required placeholder="Comment *"></textarea>

							<div class="row">
								<div class="col-md-6">
									<label for="reply-name" class="sr-only">Name</label>
									<input type="text" class="form-control" id="reply-name" name="reply-name" required
										placeholder="Name *">
								</div>

								<div class="col-md-6">
									<label for="reply-email" class="sr-only">Email</label>
									<input type="email" class="form-control" id="reply-email" name="reply-email"
										required placeholder="Email *">
								</div>
							</div>

							<button type="submit" class="btn btn-outline-primary-2">
								<span>POST COMMENT</span>
								<i class="icon-long-arrow-right"></i>
							</button>
						</form>
					</div> -->
				</div>

				<!-- <aside class="col-lg-3 skel-shop-sidebar skeleton-body">
					<div *ngIf="!firstLoad else sidebarLoaded">
						<div class="skel-widget"></div>
						<div class="skel-widget"></div>
						<div class="skel-widget"></div>
						<div class="skel-widget"></div>
					</div>
					<ng-template #sidebarLoaded>
						<blog-sidebar [categories]="blogCategories" [toggle]="toggle" [single]="true"></blog-sidebar>

						<button class="sidebar-fixed-toggler right" (click)="toggleSidebar()" *ngIf="toggle">
							<i class="icon-cog"></i>
						</button>

						<div class="sidebar-filter-overlay" (click)="hideSidebar()"></div>
					</ng-template>
				</aside> -->
			</div>
		</div>
	</div>
</main>