<div class="main">
    <nav class="breadcrumb-nav border-0 mb-0">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a routerLink="/">Home</a>
                </li>
                <li class="breadcrumb-item active">Caravan Park</li>
            </ol>
        </div>
    </nav>

    <div class="container">
        <div class="page-header page-header-big text-center"
            style="background-image: url('assets/images/caravan/caravanrigh.JPG')">
            <h1 class="page-title text-white">Caravan Park<span class="text-white">Welcome to our Certificated Location (CL) site</span></h1>
        </div>
    </div>
    

    <div class="page-content pb-0">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-3 mb-lg-0" style="font-size: 2rem!important;">
                    <h2 class="title">Description</h2>
                    <p style="font-size: 2rem!important;">Only members of the  Caravan and Motorhome Club  are  allowed to  stay on  site.

                        There is a  five van limit; this includes caravans, motor homes and trailer tents.
                        <br><br>
                    <p style="font-size: 2rem!important;">There is a shower and flushing toilet on site as well as washing machine and dryer. Shower and laundry operate on a coin box system</p>
                    <p style="font-size: 2rem!important;">Our farm shop can supply campers with fresh lamb, beef, chicken and pork and also our own brand of tea personally selected from our time in Sri Lanka. Fresh home made bread may be available on baking days.</p>
                </div>

                <div class="col-lg-6" style="font-size: 2rem!important;">
                    <h2 class="title">Prices  for  2022</h2>
                    <p style="font-size: 2rem!important;"><b>£17 </b>per night to include electric hook up, water and an updated environmental charge. This charge is for emptying our waste disposal bin which is provided for campers for general rubbish. We do request that guests separate plastic, glass, papers and tins.  Our   nightly   charge  is inclusive  for  one  family  of   four   with  car and  van  or  motor  home  and   car.</p>
                    <br>
                    <ul style="text-indent:20px ;">
                        <li ><b>£1</b>  extra  for  an  extra  car.
                        </li>
                        <li><b>£1</b> extra for a large awning. </li>
                           
                        
                    </ul>
                    <p style="font-size: 2rem;">We would request that long stay guests use breathable groundsheets and roll them up when out for the day if possible to keep the pitch in good hart for the next camper.</p>
                       
                    </div>
                    <div >
                    <p style="font-size: 2rem!important;">You can book here: </p>
                    <p style="font-size: 2rem;">Home ✆  01404 / 81 53 52 
                        <br>
                    Farmshop ✆ 01404 / 81 56 97 
                    <br>
                    mobile: 07738167017 
                    <br>
                    mobile: 07711200440 
                    <br>
                    or through the <a routerLink="/contact">CONTACT</a> page</p>
                </div>
            </div>

            <div class="mb-5"></div>
        </div>

        <div class="banner-group">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-sm-6" contentAnim aniName="fadeInDownShorter">
                                <div class="banner banner-overlay">

                                        <molla-image src="assets/images/farm/caravantoilet.jpg" alt="Banner" fixedPt="25rem" style="background-color: #262d33"></molla-image>

    
                                </div>
                            </div>
    
                            <div class="col-sm-6" contentAnim aniName="fadeInDownShorter">
                                <div class="banner banner-overlay banner-overlay-light">

                                        <molla-image src="assets/images/farm/caravanwasher.jpg" alt="Banner" fixedPt="25rem" style="background-color: #e6e6e6;"></molla-image>


                                </div>
                            </div>
                        </div>
    
                        <div class="banner banner-large banner-overlay d-none d-sm-block" contentAnim aniName="fadeInUpShorter">

                                <molla-image src="assets/images/caravan/caravanrigh.JPG" alt="Banner" fixedPt="25rem" style="background-color: #ed9476;"></molla-image>
    
                        </div>
                    </div>
    
                    <div class="col-lg-4 d-sm-none d-lg-block" contentAnim aniName="fadeInLeftShorter">
                        <div class="banner banner-middle banner-overlay">

                                <molla-image src="assets/images/caravan/carravan.JPG" alt="Banner" fixedPt="52rem" style="background-color: #a0a5a9;"></molla-image>

    
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="mb-2"></div>

    </div>
</div>