<div class="soon">
    <div class="container">
        <div class="row" style="display:block!important">
            <div class="soon-content text-center">
                <div class="soon-content-wrapper">
                    <h1 class="soon-title">Coming Soon</h1>
                    <molla-count-down until="2022-09-08" format="DHMS" wrap="coming-countdown countdown-separator">
                    </molla-count-down>

                    <hr class="mt-2 mb-3 mt-md-3">
                    <p>We are currently working on a new site. Stay tuned for more information.
                        </p>
                    <div class="social-icons justify-content-center mb-0">
                        <a class="social-icon" href="https://www.facebook.com/GosfordFarm/">
                            <i class="icon-facebook-f"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>