<div class="main">
  <nav class="breadcrumb-nav border-0 mb-0">
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink="/">Home</a>
        </li>
        <li class="breadcrumb-item active">Shepherds Hut</li>
      </ol>
    </div>
  </nav>

  <div class="container">
    <div
      class="page-header page-header-big text-center"
      style="background-image: url('assets/images/shepherd/hutback.jpg')"
    >
      <h1 class="page-title text-white">
        Shepherds Hut<span class="text-white"></span>
      </h1>
    </div>
  </div>

  <div class="page-content pb-0">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mb-3 mb-lg-0" style="font-size: 2rem !important">
          <h2 class="title">Description</h2>
          <p style="font-size: 2rem !important">
            Our bookable shepherd's hut in Ottery St Mary is the perfect getaway
            for those seeking a tranquil escape surrounded by nature. Located on
            a working farm, our hut offers breathtaking views of lush green
            fields and grazing sheep.
            <br />
            Inside, the hut is a cozy retreat with a fully-equipped kitchen, a
            washer for your convenience, and a comfortable living area complete
            with a TV. And when it's time to turn in for the night, you'll find
            a snug sleeping area with a comfortable double bed and soft, warm
            bedding.
            <br />
            But the real beauty of our shepherd's hut is the great outdoors.
            Spend your days exploring the farm and the surrounding countryside,
            taking long walks along picturesque paths and keeping an eye out for
            wildlife. And at night, gather around the fire pit with loved ones
            and marvel at the starry skies above.
            <br />
            With free parking right outside the hut, you can easily explore the
            charming town of Ottery St Mary or take a trip to the nearby seaside
            town of Sidmouth. Whether you're looking for a romantic retreat, a
            solo adventure, or a family getaway, our shepherd's hut is the
            perfect base for your Ottery St Mary experience. Book your stay
            today and reconnect with nature in comfort and style.
          </p>
        </div>

        <div class="col-lg-6" style="font-size: 2rem !important">
          <h2 class="title">Booking & Surroundings</h2>
          <p style="font-size: 2rem !important">
            The town of Ottery St Mary, on the outskirts of which this property
            is located, enjoys a fantastic location surrounded by countryside,
            and yet just a fifteen minute drive from the city of Exeter.
            ‘Ottery’ itself offers a range of independent shops, and a choice of
            eateries which pride themselves on serving the best of local
            produce. It is also quite unique, in that it still celebrates a
            number of traditional festivals, including Pixie day in June, and
            the Tar Barrells festival in November, where local men run through
            the town’s streets carrying flaming barrels of tar. The area
            surrounding the town has much to offer holiday makers, including the
            beach at Sidmouth, Wildwood Wildlife Park at Escot House, and Crealy
            Adventure Park.
          </p>
          <br />
          <p style="font-size: 2rem !important">
            You can book our shepherds hut on airbnb.

            <br />
            <a href="https://www.airbnb.ca/rooms/29777365"> Booking Website</a>
          </p>
        </div>
      </div>

      <div class="mb-5"></div>
    </div>

    <div class="banner-group">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="row">
              <div class="col-sm-6" contentAnim aniName="fadeInDownShorter">
                <div class="banner banner-overlay">
                  <molla-image
                    src="assets/images/shepherd/hut_front.jpg"
                    alt="Banner"
                    fixedPt="25rem"
                    style="background-color: #262d33"
                  ></molla-image>
                </div>
              </div>

              <div class="col-sm-6" contentAnim aniName="fadeInDownShorter">
                <div class="banner banner-overlay banner-overlay-light">
                  <molla-image
                    src="assets/images/shepherd/hutback.jpg"
                    alt="Banner"
                    fixedPt="25rem"
                    style="background-color: #e6e6e6"
                  ></molla-image>
                </div>
              </div>
            </div>

            <div
              class="banner banner-large banner-overlay d-none d-sm-block"
              contentAnim
              aniName="fadeInUpShorter"
            >
              <molla-image
                src="assets/images/shepherd/hutbird.jpg"
                alt="Banner"
                fixedPt="25rem"
                style="background-color: #ed9476"
              ></molla-image>
            </div>
          </div>

          <div
            class="col-lg-4 d-sm-none d-lg-block"
            contentAnim
            aniName="fadeInLeftShorter"
          >
            <div class="banner banner-middle banner-overlay">
              <molla-image
                src="assets/images/shepherd/lefthut.jpg"
                alt="Banner"
                fixedPt="52rem"
                style="background-color: #a0a5a9"
              ></molla-image>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mb-2"></div>

    <div
      class="about-testimonials bg-light-2 pt-6 pb-6"
      style="margin-bottom: -1px"
    >
      <div class="container">
        <h2 class="title text-center mb-3">What Customer Say About Us</h2>

        <owl-carousel
          [carouselClasses]="'owl-simple owl-testimonials-photo'"
          [options]="sliderOption"
        >
          <blockquote
            class="testimonial text-center"
            *ngFor="let custom of customSay"
          >
            <img [src]="custom.photo" width="70" height="70" alt="user" />
            <p>{{ custom.comment }}</p>
            <cite>
              {{ custom.name }}
              <span>{{ custom.type }}</span>
            </cite>
          </blockquote>
        </owl-carousel>
      </div>
    </div>

    <!-- <div class="bg-light-2 pt-6 pb-5 mb-6 mb-lg-8">
          <div class="container">
              <div class="row">
                  <div class="col-lg-5 mb-3 mb-lg-0">
                      <h2 class="title">Who We Are</h2>
                      <p class="lead text-primary mb-3">Pellentesque odio nisi, euismod pharetra a ultricies <br>in
                          diam. Sed arcu. Cras consequat</p>
                      <p class="mb-2">Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo,
                          eget blandit nunc tortor eu nibh. Suspendisse potenti. Sed egestas, ante et vulputate
                          volutpat, uctus metus libero eu augue. </p>

                      <a routerLink="/blog/classic" class="btn btn-sm btn-minwidth btn-outline-primary-2">
                          <span>VIEW OUR NEWS</span>
                          <i class="icon-long-arrow-right"></i>
                      </a>
                  </div>

                  <div class="col-lg-6 offset-lg-1">
                      <div class="about-images">
                          <img src="assets/images/about/img-1.jpg" alt="About" class="about-img-front" />
                          <img src="assets/images/about/img-2.jpg" alt="About" class="about-img-back" />
                      </div>
                  </div>
              </div>
          </div>
      </div> -->
  </div>
</div>
