<main class="main">
    <nav class="breadcrumb-nav border-0 mb-0">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a routerLink="/">Home</a>
                </li>
                <li *ngIf="!session_id" class="breadcrumb-item active">404</li>
                <li *ngIf="session_id" class="breadcrumb-item active">Buy Confirmation</li>
            </ol>
        </div>
    </nav>

    <div class="error-content text-center position-relative"
        style="margin-bottom: -1px;">
        <div class="container">
            <h1 *ngIf="!session_id" class="error-title">Error 404</h1>
            <h1 *ngIf="session_id" class="error-title">Thank you for your order</h1><h1 *ngIf="firstName" class="error-title">{{firstName}}</h1>
            <p *ngIf="!session_id">We are sorry, the page you've requested is not available.</p>
            <p *ngIf="session_id">You will be getting a confirmation email to:</p>
            <p *ngIf="session_id">{{email}}</p>
            <a href="" class="btn btn-outline-primary-2 btn-minwidth-lg">
                <span>BACK TO HOMEPAGE</span>
                <i class="icon-long-arrow-right"></i>
            </a>
        </div>
    </div>
</main>