<div class="mobile-menu-container">
    <div class="mobile-menu-wrapper">
        <span class="mobile-menu-close" (click)="hideMobileMenu()"><i class="icon-close"></i></span>

        <form action="#" method="get" class="mobile-search" (submit)="submitSearchForm($event)">
            <label for="mobile-search" class="sr-only">Search</label>
            <input type="search" class="form-control" name="mobile-search" id="mobile-search" placeholder="Search in..."
                required>
            <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
        </form>

        <nav class="mobile-nav">
            <ul class="mobile-menu">
                 <li> 
            <a routerLink="/">Home</a>
        </li>
        <li>
            <a routerLink="/shop">Farm Shop</a>
        </li>
        <li>
            <a routerLink="/bungalow">Bungalow</a>
        </li>
        <li>
            <a routerLink="/caravan">Caravan Park</a>
        </li>
        <li>
            <a routerLink="/contact">Contact & Location</a>
        </li>
        <li>
            <a routerLink="/shepherd">Shepherds Hut</a>
        </li>
        <li>
            <a routerLink="/blog/all">Blog</a>
        </li>
        <li>
            <a routerLink="/about">About</a>
        </li>
            </ul>
        </nav>

        <div class="social-icons">
            <a href="javascript:;" class="social-icon" title="Facebook"><i class="icon-facebook-f"></i></a>
            <a href="javascript:;" class="social-icon" title="Youtube"><i class="icon-youtube"></i></a>
        </div>
    </div>
</div>